<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @game.user_id %>
</p>

<p>
  <b>Word:</b>
  <%= @game.word_id %>
</p>

<p>
  <b>In progress:</b>
  <%= @game.in_progress %>
</p>

<p>
  <b>Guessed letters:</b>
  <%= @game.guessed_letters %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
